@layer kiso, tokens, base;

@import "kiso.css" layer(kiso);

@layer tokens {
	:root {
		--colors-brand: hsl(14.62, 96.39%, 67.45%);

		--colors-bg-light: hsl(from var(--colors-brand) h 7% 93%);
		--colors-bg-dark: hsl(from var(--colors-brand) h 7% 7%);
		--colors-bg: light-dark(var(--colors-bg-light), var(--colors-bg-dark));
		&:has([data-bg-oled]) {
			--colors-bg: light-dark(var(--colors-bg-light), #000);
		}
		--colors-bg-surface: light-dark(
			hsl(from var(--colors-bg) h s calc(l - 17)),
			hsl(from var(--colors-bg) h s calc(l + 17))
		);

		--colors-fg: light-dark(var(--colors-bg-dark), #fff);
		--colors-fg-sub: light-dark(
			hsl(from var(--colors-fg) h s calc(l + 17)),
			hsl(from var(--colors-fg) h s calc(l - 17))
		);
		--colors-fg-brand: light-dark(
			hsl(from var(--colors-brand) h s 37%),
			var(--colors-brand)
		);

		--colors-border: var(--colors-bg-surface);
		--colors-border-surface: light-dark(
			hsl(from var(--colors-border) h s calc(l - 17)),
			hsl(from var(--colors-border) h s calc(l + 17))
		);

		--fonts-heading: sans-serif;
		--fonts-body: sans-serif;
		--fonts-mono: monospace;

		&:has([data-use-font]) {
			--fonts-heading: "IBM Plex Sans JP", "Noto Sans JP", sans-serif;
			--fonts-body: "Zalando Sans", "Noto Sans JP", sans-serif;
			--fonts-mono: "Google Sans Code", "IBM Plex Sans JP", monospace;
		}
	}
}

@layer base {
	:root {
		color-scheme: light dark;
		background-color: var(--colors-bg);
		color: var(--colors-fg);
		scrollbar-color: var(--colors-border-surface) var(--colors-bg);
		font-family: revert;
		&:has([data-use-font]) {
			font-family: var(--fonts-body);
		}
		font-feature-settings: "calt";
		&:has([data-liga]) {
			font-feature-settings: "calt", "liga";
		}
	}

	* {
		border-width: 0;
		border-inline-width: 0;
		column-rule-width: 0;
		row-rule-width: 0;
		border-style: solid;
		border-inline-style: solid;
		column-rule-style: solid;
		row-rule-style: solid;
		border-color: var(--colors-border);
		border-inline-color: var(--colors-border);
		column-rule-color: var(--colors-border);
		row-rule-color: var(--colors-border);

		:not(body) {
			margin: revert;
		}
	}

	a:not(.button) {
		color: var(--colors-fg-brand);
		text-decoration: revert;
	}

	a,
	button {
		&:not(:active) {
			transition: transform 0.25s;
		}

		&:active {
			transform: scale(0.93);
		}
	}

	button {
		border-width: 1px;
		border-color: var(--colors-border-surface);
		background-color: var(--colors-bg-surface);

		&:active {
			background-color: var(--colors-border-surface);
		}
	}

	input {
		background-color: var(--colors-bg-surface);

		&[type="number"] {
			font-family: var(--fonts-mono);
		}

		&[type="checkbox"]:checked {
			color: var(--colors-fg-brand);
		}
	}

	dialog {
		border-width: 1px;
		padding: 1rem;
		background-color: var(--colors-bg);
		color: var(--colors-fg);
	}

	ul,
	ol,
	menu {
		list-style-type: revert;
		padding-inline-start: revert;
	}

	blockquote {
		border-inline-start-width: 3px;
		padding-inline-start: 1rem;
	}

	code,
	kbd,
	samp {
		font-family: var(--fonts-mono);
	}

	.container {
		max-width: calc(var(--max-width) + var(--padding-x) * 2);
		min-height: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--padding-x);
		padding-right: var(--padding-x);

		line-height: var(--line-height);

		background-color: #fff;
		@media (prefers-color-scheme: dark) {
			background-color: inherit;
		}

		p {
			text-align: justify;
		}
	}
}
